* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;

  button {
    font-family: inherit;
    margin: 0;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }
}

//<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
//Grid layout
//<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<

.container {
  // overflow-x: hidden;
  display: grid;
  grid-template-columns: 7% 11% 64% 11% 7%;
  grid-template-rows: 15vh 75vh 10vh;
  grid-template-areas:
    '. header header header .'
    '. . main . .'
    '. footer footer footer .';
}

.footerContainer {
  grid-area: footer;
  border-top: 1px solid blue;
}

//<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
//Header layout
//<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<

.headerContainer {
  grid-area: header;
  border-bottom: 1px solid blue;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.burger {
  cursor: pointer;
  position: absolute;
  left: 7%;
  border: 1px solid black;
  border-radius: 50%;
  width: fit-content;
  padding: 2px 2px 2px 2px;
  border-color: blue;

  div {
    width: 25px;
    height: 3px;
    background-color: blue;
    margin: 5px;
    transition: all 0.3s ease;
  }
}

.searchBar {
  ::placeholder {
    color: grey;
  }
  .searchInput {
    width: 40vw;
    border: none;
    background-image: none;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding: 10px 0px 10px 30px;
    border-bottom: 1px solid grey;
  }

  .searchIcon {
    position: absolute;
    display: inline-block;
    padding: 10px 0px 0px 5px;
    color: blue;
  }
}

.userIcon {
  cursor: pointer;
  position: absolute;
  right: 7%;
  border: 1px solid black;
  border-radius: 50%;
  width: fit-content;
  padding: 2px 2px 2px 2px;
  border-color: blue;

  i {
    color: blue;
    font-size: 170%;
    padding: 1px 5.5px 1px 5.5px;
  }
}

//<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
//TaskBox layout
//<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<

.taskBoxContainer {
  display: relative;
  grid-area: main;

  .playButton {
    position: absolute;
    font-size: 200%;
    color: blue;
    transform: translateY(130%);
  }

  .taskBox {
    display: grid;
    grid-template-areas: 'task priority';
    grid-template-columns: 70% 30%;
    margin: 5vh 6vw 5vh 6vw;
    border: 1px solid blue;
  }

  .taskInfo {
    grid-area: task;
    height: 100px;
    margin: 1vh 0 0 1vw;
  }

  .processBox {
    grid-area: priority;
    border-left: 1px solid blue;
    text-align: center;

    .workersBox {
      padding: 1vh 1vw 0 1vw;

      i {
        cursor: pointer;
        color: blue;
        padding: 2px;
      }

      .unassignedBtn {
        button {
          font-family: inherit;
          font-size: 100%;
          line-height: 1.15;
          margin: 0;
          background: none;
          color: inherit;
          border: none;
          padding: 0;
          font: inherit;
          cursor: pointer;
          outline: inherit;
        }
      }
    }

    .priorityBox {
      padding: 0 1vw 0 1vw;
      text-align: center;
      font-size: 200%;

      button {
        font-size: 60%;
        color: blue;
      }
      i {
        cursor: pointer;
      }
    }
  }

  .taskName {
    border: none;
    background-image: none;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-bottom: 1px solid grey;
    width: 95%;
  }

  .taskDesc {
    textarea {
      border: none;
      background-image: none;
      background-color: transparent;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      border-bottom: 1px solid grey;
      height: 7vh;
      width: 95%;
      resize: none;
    }
  }

  .buttonContainer {
    display: block;
    background-color: blue;
    width: 100%;

    button {
      display: block;
      border: none;
      background-color: blue;
      padding: 14px 28px;
      font-size: 16px;
      cursor: pointer;

      i {
        color: white;
      }

      p {
        display: inline;
        color: white;
        padding-left: 4px;
      }
    }
  }
}

//<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
//Dropdown layout
//<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<

.dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
  text-align: center;

  p {
    border: 1px solid blue;
    margin-top: -1px;
  }
}

.dropdown:hover .dropdown-content {
  display: block;
  cursor: pointer;
}

//<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
//Navbar layout
//<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<

.navLinks {
  padding-top: 5em;
  padding-bottom: 20em;
  position: absolute;
  left: 0px;
  height: 85vh;
  top: 10vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
  padding-left: 7vw;
  width: 15%;
  transform: translateX(-100%);
  z-index: 1;
  transition: transform 0.4s ease-in;
  // border-right: 1px solid blue;
  margin-top: 43px;

  h3 {
    padding-bottom: 6vh;
  }
}
.navLinks h3 {
  opacity: 0;
}

.navActive {
  transform: translateX(0%);
  background-color: white;
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
  background-color: blue;
}
.toggle .line2 {
  opacity: 0;
  background-color: blue;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
  background-color: blue;
}

.homeButton,
.aboutButton,
.tasksButton,
.contactButton {
  color: blue;
  padding-bottom: 25px;
  padding-left: 15px;
  padding-right: 15px;
  border-bottom: 1px solid blue;
  font-size: 100%;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: inherit;
  font-weight: 600;
  letter-spacing: 2px;
}

//<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
//Modals
//<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<

.modal,
.modal2 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content,
.modal-content2 {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
