* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

//<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
//Grid layout
//<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<

.container {
  display: grid;
  grid-template-columns: 7% 9% 68% 9% 7%;
  grid-template-rows: 15vh 75vh 10vh;
  grid-template-areas:
    '. header header header .'
    '. . main . .'
    '. footer footer footer .';
}

.footerContainer {
  background-color: green;
  grid-area: footer;
  border-top: 1px solid blue;
}

//<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
//Header layout
//<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<

.headerContainer {
  grid-area: header;
  border-bottom: 1px solid blue;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.burger {
  cursor: pointer;
  position: absolute;
  left: 7%;
  border: 1px solid black;
  border-radius: 50%;
  width: fit-content;
  padding: 2px 2px 2px 2px;
  border-color: blue;

  div {
    width: 25px;
    height: 3px;
    background-color: blue;
    margin: 5px;
    transition: all 0.3s ease;
  }
}

.searchBar {
  ::placeholder {
    color: grey;
  }
  .searchInput {
    width: 40vw;
    border: none;
    background-image: none;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding: 10px 0px 10px 30px;
    border-bottom: 1px solid grey;
  }

  .searchIcon {
    position: absolute;
    display: inline-block;
    padding: 10px 0px 0px 5px;
    color: blue;
  }
}

.userIcon {
  cursor: pointer;
  position: absolute;
  right: 7%;
  border: 1px solid black;
  border-radius: 50%;
  width: fit-content;
  padding: 2px 2px 2px 2px;
  border-color: blue;

  i {
    color: blue;
    font-size: 170%;
    padding: 1px 5.5px 1px 5.5px;
  }
}

//<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
//TaskBox layout
//<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<

.taskBoxContainer {
  display: relative;
  grid-area: main;

  .taskBox {
    // display: inline-block;
  }

  .taskInfo {
    width: 60%;
    padding: 7vh 0vh 7vh 0vh;
  }

  .processBox {
    width: 40%;
  }
}

//<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
//Dropdown layout
//<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<

.dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
  text-align: center;

  p {
    border: 1px solid blue;
    margin-top: -1px;
  }
}

.dropdown:hover .dropdown-content {
  display: block;
  cursor: pointer;
}
